:root {
  --c-main-body: #23155B;
  --c-main-primary: #8053FF;
  --c-main-white: #FFFFFF;
  --c-main-gray: #928CAB;
  --c-main-gray-light: #928CAB;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ––––––––– HEADER ––––––––– */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__text {
  margin-left: 12px;
  font-size: 18px;
  line-height: 40px;
  font-weight: var(--fw-bold);
  color: var(--c-main-body)
}

.header-nav__join-button {
  margin-left: 60px;
}

.header-nav__link {
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 28px;
  color: var(--c-main-body);
  margin-left: 28px;
}

.header-nav__link:first-child {
  margin-left: 0;
}

/* ––––––––– END HEADER ––––––––– */


/* ––––––––– INTRO ––––––––––––– */

.intro__inner {
  text-align: center;
  padding-bottom: 200px;
}

.intro-container {
  padding: 174px 0 168px 0;
  border-radius: 24px;
  background: url('/images/intro-bg.png') no-repeat center #FBFAFF;
  background-size: cover;
}

.intro-container__title {
  font-weight: var(--fw-bold);
  font-size: 64px;
  line-height: 96px;
  color: var(--c-main-body);
}

.intro-container__subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: var(--fw-regular);
  color: var(--c-main-body);
  margin-top: 11px;
}

.intro-container__buttons {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  gap: 12px;
}

.intro-buttons__button {
  min-width: 232px;
}

/* ––––––––– END INTRO ––––––––– */

/* ––––––––– PIPELINE ––––––––– */

.pipeline-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
}

.pipeline-header__line {
  height: 2px;
  flex: 1;
  border: 1px solid #F4F5F4;
}

.pipeline-header__title {
  font-size: 24px;
  font-weight: var(--fw-medium);
  color: var(--c-main-body);
  margin: 0 34px;
  flex-shrink: 0;
}

.pipeline-logos {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  gap: 20px;
}

.pipeline-logos__logo {
  flex-shrink: 0;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ––––––––– END PIPELINE ––––––––– */

/* ––––––––– FUNDRAISING ––––––––– */

.fundraising__inner {
  display: flex;
  padding: 200px 0;
}

.fundraising-header {
  padding-left: 130px;
  font-size: 52px;
  line-height: 64px;
  font-weight: var(--fw-bold);
  color: var(--c-main-body);
}

.fundraising-header__string {
  color: var(--c-main-primary);
}

.fundraising-list {
  padding-left: 236px;
}

.fundraising-list__item {
  padding: 24px;
  height: 120px;
  min-width: 580px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.list-item__number {
  color: var(--c-main-primary);
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.list-item__text {
  margin-left: 12px;
  font-weight: var(--fw-medium);
  font-size: 16px;
  color: var(--c-main-body);
  line-height: 28px;
}

/* ––––––––– END FUNDRAISING ––––––––– */

/* ––––––––– COMPONENTS ––––––––– */

.button {
  font-size: 16px;
  font-weight: var(--fw-medium);
  padding: 12px 24px;
  background: var(--c-main-primary);
  border-radius: 8px;
  color: var(--c-main-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: 0;
  cursor: pointer;
}

.button--large {
  font-size: 18px;
  line-height: 36px;
  height: 60px;
}

.button--outline {
  background: var(--c-main-white);
  color: var(--c-main-primary);
  border: 1px solid var(--c-main-primary);
}


/* ––––––––– END COMPONENTS ––––––––– */