:root {
  --c-main-body: #23155B;
  --c-main-primary: #8053FF;
  --c-main-white: #FFFFFF;
  --c-main-gray: #928CAB;
  --c-main-gray-light: #928CAB;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ––––––––– HEADER ––––––––– */

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__text {
  margin-left: 12px;
  font-size: 18px;
  line-height: 40px;
  font-weight: var(--fw-bold);
  color: var(--c-main-body)
}

.header-nav__join-button {
  margin-left: 60px;
}

.header-nav__link {
  font-weight: var(--fw-medium);
  font-size: 16px;
  line-height: 28px;
  color: var(--c-main-body);
  margin-left: 28px;
}

.header-nav__link:first-child {
  margin-left: 0;
}

/* ––––––––– END HEADER ––––––––– */


/* ––––––––– INTRO ––––––––––––– */

.intro__inner {
  text-align: center;
  padding-bottom: 200px;
}

.intro-container {
  padding: 174px 0 168px 0;
  border-radius: 24px;
  background: url('/images/intro-bg.png') no-repeat center #FBFAFF;
  background-size: cover;
}

.intro-container__title {
  font-weight: var(--fw-bold);
  font-size: 64px;
  line-height: 96px;
  color: var(--c-main-body);
}

.intro-container__subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: var(--fw-regular);
  color: var(--c-main-body);
  margin-top: 11px;
}

.intro-container__buttons {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  gap: 12px;
}

/* ––––––––– END INTRO ––––––––– */

/* ––––––––– PIPELINE ––––––––– */

.pipeline-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1180px;
  margin: 0 auto;
}

.line {
  height: 2px;
  flex: 1;
  border: 1px solid #F4F5F4;
}

.pipeline-header__title {
  font-size: 24px;
  font-weight: var(--fw-medium);
  color: var(--c-main-body);
  margin: 0 34px;
  flex-shrink: 0;
}

.logos {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  gap: 20px;
}

.logos-logo {
  flex-shrink: 0;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ––––––––– END PIPELINE ––––––––– */

/* ––––––––– FUNDRAISING ––––––––– */

.fundraising__inner {
  display: flex;
  padding: 200px 0;
}

.fundraising-title {
  padding-left: 130px;
}

.fundraising-list {
  padding-left: 236px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.fundraising-list .fundraising-item {
  padding: 30px;
  height: 120px;
  min-width: 580px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.fundraising-item__number {
  color: var(--c-main-primary);
  font-size: 24px;
  font-weight: var(--fw-bold);
}

.fundraising-item__text {
  margin-left: 12px;
  font-weight: var(--fw-medium);
  font-size: 18px;
  color: var(--c-main-body);
  line-height: 28px;
}

/* ––––––––– END FUNDRAISING ––––––––– */

/* ––––––––– VISION ––––––––– */

.vision {
  background: url("/images/vision-bg.png") no-repeat center, linear-gradient(180deg, #FBFAFF 0%, #FFF 100%);
  background-size: cover;
  border-radius: 250px 0 0 0;
}

.vision__inner {
  padding: 200px 130px;
}

.vision-title {
  margin-top: 6px;
}

.vision-text {
  font-size: 18px;
  color: var(--c-main-body);
  line-height: 28px;
  margin-top: 12px;
}

.vision-item__subtitle {
  color: var(--c-main-gray);
  font-size: 14px;
  line-height: 24px;
  margin-top: 8px;
  margin-left: 12px;
}

.item-empty {
  flex: 1;
  padding: 24px;
}

.vision-buttons {
  display: flex;
  gap: 12px;
}

/* ––––––––– END VISION ––––––––– */

/* ––––––––– ACCESS ––––––––– */

.access {
  background: url("/images/access-bg.png") no-repeat center, linear-gradient(180deg, #FBFAFF 0%, #FFF 100%);
  background-size: cover;
  border-radius: 0 250px 0 0;
}

.access__inner {
  padding: 200px 130px;
}

.benefit-list {
  margin: 40px 0;
}

/* ––––––––– END ACCESS ––––––––– */

/* ––––––––– DEFIPI ––––––––– */

.defipi {
  padding: 127px 0;
  position: relative;
  min-height: 830px;
}

.defipi__inner {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.defipi__bg-holder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  bottom: 0;
  height: 830px;
  width: 590px;
  margin-right: 260px;
}

.defipi__bg {
  background: url('/images/defipi/defipi-bg.jpg') no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  z-index: 2;
}

.defipi__logo {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.defipi-content {
  padding-right: 251px;
  position: relative;
}

.defipi-content__text {
  margin-top: 52px;
  color: var(--c-main-body);
  font-size: 18px;
  max-width: 580px;
  line-height: 28px;
}

.defipi-content__text p:last-child {
  margin-top: 64px;
}

.defipi-content__logo {
  margin-bottom: 15px;
}


/* ––––––––– END DEFIPI ––––––––– */

/* ––––––––– PARTNERSHIP ––––––––– */

.partnership__inner {
  padding: 200px 0;
}

.partnership-header {
  display: flex;
  max-width: 1180px;
  margin: 0 auto;
  align-items: center;
}

.partnership-title {
  color: var(--c-main-body);
  font-size: 24px;
  font-weight: var(--fw-medium);
  line-height: 36px;
  padding: 0 24px;
}

/* ––––––––– END PARTNERSHIP ––––––––– */

/* ––––––––– COMPONENTS ––––––––– */

.button {
  min-width: 232px;
  font-size: 16px;
  font-weight: var(--fw-medium);
  padding: 12px 24px;
  background: var(--c-main-primary);
  border-radius: 8px;
  color: var(--c-main-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: 0;
  cursor: pointer;
}

.button--large {
  font-size: 18px;
  line-height: 36px;
  height: 60px;
}

.button--outline {
  background: var(--c-main-white);
  color: var(--c-main-primary);
  border: 1px solid var(--c-main-primary);
}

.h2 {
  font-size: 52px;
  line-height: 64px;
  font-weight: var(--fw-bold);
  color: var(--c-main-body);
  letter-spacing: 1.04px;
}

.subtitle {
  font-size: 18px;
  color: var(--c-main-primary);
  font-weight: var(--fw-semibold);
}

.highlight {
  color: var(--c-main-primary);
}

.benefit-list {
  margin: 40px 0;
}

.benefit-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.benefit-row:first-child {
  margin-top: 0;
}

.benefit-item {
  display: flex;
  align-items: flex-start;
  background-color: #FFFFFF;
  flex: 1;
  padding: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.benefit-title {
  font-size: 16px;
  color: var(--c-main-body);
  font-weight: var(--fw-medium);
  margin-left: 12px;
  margin-top: 4px;
}

.line {
  height: 2px;
  flex: 1;
  border: 1px solid #F4F5F4;
}

.logos {
  display: flex;
  justify-content: center;
  padding-top: 53px;
  gap: 20px;
}

.logos-logo {
  flex-shrink: 0;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ––––––––– END COMPONENTS ––––––––– */